:root {
  background-color: #fafafad6;
  font-family: Inter, sans-serif;
  color: #222;
  font-size: 2vw;
  line-height: 1.5;
  margin: 3rem 3rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.header {
  justify-content: center;
  align-items: center;
}

h1 {
  margin: .8rem 0;
  font-family: Lora, sans-serif;
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
}

.link {
  font-weight: 400;
  text-transform: uppercase;  
  font-size: 0.75em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.11);
  font-family: Inter, sans-serif;
  color: #222;
  opacity: .8;
}

.link:hover {
  text-decoration: none;
  color: #000000;
}

a {
  text-decoration: none;
}

.div {
  gap: .4rem;
}

.heading-container {
  width: 100%;
}

.heading-container > a > img {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  cursor: pointer;
  top: 0;
  left: 0;
  margin-left: 8rem;
}

.links-container {
  gap: 2rem;
  font-size: 1rem;
  margin: 1rem 0;
}

.link-text {
  font-size: .5rem;
  letter-spacing: .1rem;
}

.paragraph {
  color: #222;
  opacity: 0.5;
  font-family: Lora, sans-serif;
  font-weight: 600;
  font-size: .7rem;
  text-align: center;
  letter-spacing: .015rem;
}

/* NAVIGATION PART */

.nav-container {
  margin: 1rem 0;
  gap: 1rem;
  justify-content: center;
}

.nav-image {
  width: 5rem;
  height: auto;
  padding-top: 50%;
}

.nav-image:hover {
  width: 100%;
  height: 100%;
  padding-top: 0;
  transition: padding-top 500s ease-in-out;
  -webkit-transition: padding-top 500ms ease-in-out;
}

.nav-image-container {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  gap: 3rem;
  justify-content: space-between;
}

.nav-text {
  color: grey;
  font-size: .5rem;
  padding-top: .2rem;
}

.image-border {
  padding: .5rem .5rem;
  border-color: transparent;
  border: 1px solid transparent;
}

.image-border:hover {
  border-color: rgba(82, 82, 82, 0);
  border: 1px solid;
  -webkit-transition: border-color 500ms ease;
  transition: border-color 500ms ease;
}

/* POPUP MESSAGE WINDOW */

.message-container {
  position: relative !important;
  justify-content: center;
  border: 1px solid transparent;
  background-color: rgb(225, 225, 225);
  color: black;
  font: 1rem;
  width: 20rem;
  padding: 1rem 1rem;
  border-radius: 20px;
}

.message-container h5 {
  margin: 0 0;
  margin-bottom: .3rem;
  text-align: center;
}

.message-popup-text {
  font-size: .6rem;
  text-align: center;
}

.message-popup-form {
  justify-content: center;
  align-items: center;
  margin-top: .5rem;
}

.message-popup-form input, .message-popup-form textarea {
  margin-bottom: .7rem;
  height: .7rem;
  width: 12rem;
  padding-left: .5rem;
  background-color: transparent;
  border-radius: 20px;
  border: 1px black solid;
}

textarea {
  height: 2.7rem !important;
  padding-top: .4rem;
}

textarea::placeholder, input::placeholder {
  color: black;
}

.message-popup-form button {
  background-color: transparent;
  border-radius: 20px;
  border: 1px black solid;
  padding: .3rem .5rem;
}

.message-popup-form button:hover {
  background-color: black;
  color: white;
}

.delivery-image {
  width: 3rem;
  height: 3rem;
}

.delivery-container {
  justify-content: space-between;
  width: 10rem;
  background-color: #ffffff;
  margin: 1rem 1rem;
  border-radius: 20px;
  border: 1px solid transparent;
  gap: 1rem;
  padding: 1rem 1rem;
  position: relative !important;
}

.delivery-box {
  font-size: .6rem;
}

.delivery-text {
  font-size: smaller;
  margin: 0.1rem 0;
}

#popup-root > div {
  background-color: rgba(0,0,0, 0.4);
}

.contact-popup {
  gap: .2rem;
  text-align: center;
}

.contact-popup-container {
  margin-top: 3rem;
  gap: 2rem;
}

.contact-popup-container > div {
  align-items: center;
}

.about {
  position: relative !important;
}

.two-links-header {
  gap: 5rem;
}

/* IMAGE HEADER LINK */

.image-header-container {
  justify-content: space-between;
  width: fit-content;
  margin: 0 auto;
  gap: 5rem;
  margin-top: 1rem;
  align-items: center;
}

.cart-item-number {
  border: 1px solid grey;
  border-radius: 50%;
  width: 1rem;
  text-align: center;
  font-size: .7rem;
}

.cart {
  padding-top: .2rem;
}

/* GALLERY SECTION OF MAIN PAGE */

.gallery-container {
  justify-content: center;
  gap: .6rem;
  flex-wrap: wrap;
  margin-bottom: .5rem;
}

.gallery-image {
  width: 100%;
  height: 100%;
  filter: brightness(1);
}

.gallery-image:hover {
  transition: transform 1.3s ease;
  transform: scale(1.2);
  filter: brightness(.8);
  opacity: 1;
  color: transparent;
}

.gallery-image-div {
  opacity: 1;
  overflow: hidden;
  width: 13rem;
  height: 13rem; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
}

.gallery-image-div:hover {
  opacity: 1;
}

.product-name {
  position: absolute;
  opacity: 0;
  font-size: 1rem;
  color: #fff;
  top: 90%;
  font-size: .4rem;
  margin-left: 1rem;
  transition: opacity 1s ease;
}

.gallery-image-div:hover .product-name {
  opacity: 1; 
}

.gallery-image-link {
  justify-content: flex-start;
}

/* FOOTER */

.footer-container {
  width: 100%;
  height: 1.5rem;
  justify-content: center;
  align-items: center;
}

.footer-text {
  font-size: .5rem;
}

.footer-text a {
  text-decoration: none;
  color: black;
}

.footer-text a:hover {
  text-decoration: underline;
}

/* PRODUCT */

.product-container {
  justify-content: space-between;
  background-color: white;
  margin: 1rem 3rem;
  padding: 1.5rem 1.5rem;
  gap: 6rem;
}

.product-images-container {
  width: 100%;
  height: 100%;
}

.product-image {
  width: 50%;
  height: 50%;
  border: 5px solid transparent;
}

.product-image-heading > div {
  color: grey;
  font-size: .6rem;
}

.product-info-container {
  justify-content: space-between;
}

.product-image-heading > h5 {
  margin: 0 0;
}

.product-image-heading {
  justify-content: center;
}

.product-cost > h5 > span {
  color: grey;
  text-decoration: line-through;
  font-weight: lighter;
  padding-left: 1rem;
}

.product-description {
  font-size: .6rem;
  width: 70%;
}

.addtocart-button-div button {
  width: fit-content;
  height: auto;
  font-size: .6rem;
  padding: .3rem .7rem;
  border: solid;
  border-radius: 3em;
  background-color: white;
  border-color: hsla(0, 0%, 50%, 0.3);
}

.addtocart-button-div button:hover {
  background-color: black;
  color: white;
  transition: color 500ms ease, background-color 500ms ease;
}

/* CART */

.cart-container {
  width: 100%;
  justify-content: space-between;
}

.popup-content {
  padding: 10px;
  border-radius: 20px;
  background-color: rgb(216, 214, 214) !important;
  color: black;
  position: absolute;
  z-index: 0 !important; 
  top: 0px !important; 
  left: 70.5% !important;
  height: 98vh !important;
  width: 14rem;
  display: flex;
}

.popup-overlay {
  display: none;
}

.popup-arrow {
  display: none !important;
}

.cart-top-info {
  justify-content: space-between;
}

.your-cart-header {
  justify-content: space-between;
  align-items: center;
  margin: .3rem 0.5rem;
}

.your-cart-header h3 {
  margin: 0 0;
}

.your-cart-header div {
  color: grey;
}

.your-cart-header div:hover {
  color: black;
  cursor: pointer;
}

.product-cart-container {
  justify-content: space-between;
  margin-top: .5rem;
  margin-left: .5rem;
  margin-right: .5rem;
  gap: 1rem;
}

.product-cart-container img {
  width: 4rem;
  height: 4rem;
}

.product-cart-details {
  font-size: .5rem;
  font-weight: lighter;
  justify-content: space-between;
  gap: .2rem;
  text-align: left;
}

.product-cart-details h5 {
  margin: 0 0;
}

.product-cart-container .quantity {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  padding: 0 .5rem;
  padding-top: .2rem;
  border: 1px solid grey;
  font-size: .6rem;
  text-align: center;
}

.product-cart-details button {
  width: fit-content;
  padding: .2rem .4rem;
  align-items: center;
  background-color: #f8ecec;
  border-radius: 20px;
  border: 1px solid #f8ecec;
  transition: background-color 400ms ease, color 300ms ease;
  color: #e04747;
  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.product-cart-details button:hover {
  color: #f8ecec;
  transition: background-color 400ms ease, color 300ms ease;
  background-color: #e04747;
  border-color: #e04747;
}

.checkout-cart {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #191818;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: .6rem;
}

.checkout-cart button {
  background-color: transparent;
  font-size: .7rem;
  padding: .3rem 0;
  border: 1px solid grey;
  transition: border-color 400ms ease, color 300ms ease, background-color 400ms ease;
}

.checkout-cart button:hover {
  color: white;
  border-color: rgb(103, 103, 255);
  background-color: rgb(103, 103, 255);
  transition: border-color 400ms ease, color 300ms ease, background-color 400ms ease;
}

.subtotal-cart {
  font-size: .7rem;
  justify-content: space-between;
  margin: 0 .5rem;
}